/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.img-fluid {
    max-width: 100%;
}


/* HEADER */

h1 {
    text-align: center;
    background-image: url(img/wall.png) ;
    padding: 40px;
    height: 100px;
}

/* MAIN */

main {
    background-image: url(img/cork.png);
    padding: 80px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    gap: 10px;
}

.inner {
    padding: 20px;
    background-color: white;
}