/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.img-fluid {
    max-width: 100%;
}


/* HEADER */

h1 {
    text-align: center;
    background-image: url(img/wall.png) ;
    padding: 40px;
    height: 100px;
}

/* MAIN */

main {
    background-image: url(img/cork.png);
    padding: 80px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    gap: 10px;
}

.card {
    padding: 20px;
    background-color: white;
    
}
 .card-body {
    padding: 15px;
 }

 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    z-index: 1000;
    

 }

 .overlay-image {
    max-width: 80%;
    max-height: 80%;
 }

 .close-btn {
    position: absolute;
    color: white;
    padding: 15px;
    border-radius: 50%;
 }

